*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #00a2ff;
  margin: 0;
  padding: 0;
  background-color: #000910;
}

::-webkit-scrollbar{
  width: 8px;
  background: linear-gradient(90deg, #00182c 30%, black 98%);

}

::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg, #000f1c 0%, #3800a7 16%, #5601ff 51%, #3800a7 84%, #000f1c 100%);
  height: 1vh;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #000f1c 0%, #3800a7 16%, #4b20a1 51%, #3800a7 84%, #000f1c 100%);
}

@media screen and (max-device-width: 600px){

}